 <div class="menuBar navbar-fixed-top align-middle">
    <div class="container">
        <div class="logo">Investgame</div>
        <div class="nav"> 
            <ul>
                <li>Menu1</li>
                <li>Menu 2</li>
                <li>Menu 3</li>
            </ul> 
        </div>
    </div>
</div>

<div class="content text-center">

    <div class="cardDIV_1 col-sm-8 col-sm-offset-2">
    		<h2 class="text-center pergunta">
    			Se eu acho que a taxa básica de juros (Selic) vai subir nos próximos 2 anos, em qual título devo aplicar?
    		</h2>
        <div class="row row-eq-height" >
            <div class="col-sm-3"></div>
            <div class="cardDIV_2 col-sm-2 text-center" onmouseover="this.style.background='#f0f0f0';" onmouseout="this.style.background='white';">

            <%= image_tag("tesouro", width: '100') %><br>Tesouro Selic <br>2021</div>

            <div class="col-sm-2"></div>
            <div class="cardDIV_2 col-sm-2 text-center" onmouseover="this.style.background='#f0f0f0';" onmouseout="this.style.background='white';"><%= image_tag("tesouro", width: '100') %><br>Tesouro prefixado 2023</div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <div class="cardDIV_1 ajudinha col-sm-8 col-sm-offset-2">
		<h2 class="text-center">
			Vai uma ajudinha?
		</h2>
        <!-- Zozo Tabs Start-->
        <div id="tabbed-nav2">

            <!-- Tab Navigation Menu -->
            <ul>
                <li><a>Tesouro Direto<span>O que é Tesouro Direto?</span></a></li>
                <li><a>Títulos<span>Quais são os títulos do tesouro</span></a></li>
                <li><a>Especificações<span>Detalhes do tesouro</span></a></li>
                <li><a>Vantagens e Desvantages<span>os prós e contras do tesouro</span></a></li>
                <li><a>Glossário<span>O que significa cada termo</span></a></li>
            </ul>

            <!-- Content container -->
            <div>

                <!-- Overview -->
                <div>
                	
                    <h4>O que é Tesouro Direto?</h4>
                    <p>O Tesouro Direto é um programa nacional criado pelo Tesouro Nacional em parceria com a BM&F Bovespa que te dá a oportunidade de comprar títulos da dívida pública federal e ganhar dinheiro com isso…</p>
 <%= image_tag("tesouro", width: '100') %>
<b><p>Para tudo! O que isso quer dizer?</p></b>
 
<p>Ao comprar um título, você empresta seu dinheiro ao governo para financiar seus investimentos com saúde, educação, infraestrutura. E o que você ganha em troca? O governo vai te pagar juros em cima do valor que você emprestou e a taxa de juros do seu investimento (ou a rentabilidade do seu investimento) vai ser definida de acordo com o tipo de investimento que você escolher.</p>
 
<p><b>"Ah… mas isso só serve para os ricos…"</b></p>
 
<p>É aí que você se engana! Você pode começar a investir no Tesouro Direto com apenas R$ 30,00 reais! Você pode comprar qualquer um dos títulos disponíveis com o valor de R$ 30,00, e ganhará juros em cima disso. </p>
 
<p><b>"Mas não é tão seguro quanto a poupança…"</b></p>

<p>Realmente, a segurança do Tesouro Direto é diferente do da poupança… O Tesouro Direto é <b>MUITO mais seguro</b>, sendo considerado o investimento mais seguro de todo o país, porque o risco está no país, e não no banco! O Governo garante que você vai receber o seu dinheiro de volta!</p>
                </div>

                <!-- Subscribe -->
                <div>
                    <h4>Títulos do Tesouro Direto</h4>
<p><b>&quot;U&eacute;, n&atilde;o &eacute; s&oacute; um t&iacute;tulo e pronto?&quot;</b><br />
 <br />
Na verdade, o Tesouro direto divide seus t&iacute;tulos - ou produtos - em duas modalidades: pr&eacute;-fixados e p&oacute;s-fixados. Calma, vamos ver cada um.<br />
 <br />
T&iacute;tulos pr&eacute;-fixados s&atilde;o t&iacute;tulos de renda fixa em que voc&ecirc; contrata uma taxa j&aacute; conhecida. Por exemplo, existe um t&iacute;tulo que paga 10% ao ano. Fa&ccedil;a chuva ou fa&ccedil;a sol, suba a infla&ccedil;&atilde;o ou caia, no final do prazo do investimento, o t&iacute;tulo vai te retornar exatamente os 10% anuais. Simples assim.<br />
 <br />
J&aacute; os t&iacute;tulos p&oacute;s-fixados s&atilde;o t&iacute;tulos de renda fixa que v&atilde;o te dar como rentabilidade a rentabilidade do indicador ao qual estar&atilde;o indexados acrescidos de alguns percentuais a mais, ou pr&ecirc;mio. Normalmente, esses t&iacute;tulos s&atilde;o indexados &agrave; infla&ccedil;&atilde;o (IPCA) ou &agrave; taxa b&aacute;sica de juros (Selic). Quanto ao pr&ecirc;mio, normalmente vai te retornar por exemplo IPCA + 6% ao ano. O que isso quer dizer? Se a infla&ccedil;&atilde;o (IPCA) no per&iacute;odo foi de 10%, seu investimento ter&aacute; um retorno de 10% + 6%.<br />
 <br />
Vamos ent&atilde;o dar nome aos bois:<br />
 <br /><strong>T&iacute;tulos pr&eacute;-fixados:</strong> Tesouro Prefixado<br />
<strong>T&iacute;tulos p&oacute;s-fixados:</strong> Tesouro Selic (LFT) e Tesouro IPCA+ (NTN-B)<br />
 <br />
<strong>Tesouro Prefixado:</strong> Voc&ecirc; aplica seu dinheiro e j&aacute; sabe exatamente o quanto vai receber no final. A rentabilidade &eacute; fixa e mostrada no momento da aplica&ccedil;&atilde;o. Dentro dessa modalidade, ainda existem mais duas op&ccedil;&otilde;es, uma em que voc&ecirc; investe e somente tem o seu dinheiro com juros de volta no final do prazo, e outra em que voc&ecirc; pode receber juros semestrais (cupons), mas vamos deixar isso para o pr&oacute;ximo m&oacute;dulo.<br />
 <br />
<strong>Tesouro Selic (LFT):</strong> &Eacute; o t&iacute;tulo que segue a taxa b&aacute;sica de juros do pa&iacute;s, ou seja, a taxa Selic. Hoje, essa taxa est&aacute; em 13.75% ao ano. Vale lembrar que por ser um t&iacute;tulo p&oacute;s-fixado, a rentabilidade vai seguir essa taxa Selic, que pode mudar at&eacute; o final do seu prazo.<br />
 <br />
<strong>Tesouro IPCA+ (NTN-B):</strong> Tamb&eacute;m &eacute; um t&iacute;tulo p&oacute;s-fixado, mas ao inv&eacute;s de seguir (ser indexado) &agrave; taxa Selic, ele vai seguir a infla&ccedil;&atilde;o, garantindo a voc&ecirc; um ganho REAL sobre seu investimento. N&atilde;o precisa co&ccedil;ar a cabe&ccedil;a, ganho real somente significa que o ganho &eacute; superior &agrave; infla&ccedil;&atilde;o. &Eacute; importante lembrar sempre que a poupan&ccedil;a n&atilde;o garante ganho real. Que que isso quer dizer? Se a infla&ccedil;&atilde;o for maior que a taxa de rentabilidade da poupan&ccedil;a, voc&ecirc; estar&aacute; perdendo poder de compra. Chato n&eacute;&#8230;? E qual a solu&ccedil;&atilde;o? Tesouro Direto, &eacute; claro!</p>
                </div>

                <!-- Themes -->
                <div>
                    <h4>Detalhes importantes</h4>
<p>Legal, j&aacute; sabemos o que &eacute; o Tesouro Direto e quais s&atilde;o seus t&iacute;tulos. Ok. Mas como escolher?<br />
 <br />
&Eacute; sempre ultra mega importante considerar alguns pontos antes de escolher o t&iacute;tulo, que s&atilde;o as caracter&iacute;sticas deles:<br />
 <br />
<strong>Data de vencimento:</strong> &eacute; simplesmente a data a qual o t&iacute;tulo ser&aacute; v&aacute;lido. Ou seja, na data x ele te devolver&aacute; seu investimento com juros, e o t&iacute;tulo deixar&aacute; de existir.<br />
<strong>Liquidez:</strong> Essa palavra esquisita se refere &agrave; facilidade de comprar ou vender o t&iacute;tulo a qualquer dia. No caso do Tesouro Direto, voc&ecirc; pode comprar ou vender os t&iacute;tulos durante os dias &uacute;teis.<br />
<strong>Taxa de rentabilidade:</strong> &eacute; a taxa de juros do seu investimento, j&aacute; ser&aacute; definida no momento da compra no caso dos t&iacute;tulos pr&eacute;-fixados.<br />
<strong>Aplica&ccedil;&atilde;o m&iacute;nima:</strong> o m&iacute;nimo que voc&ecirc; pode investir no t&iacute;tulo. R$ 30,00 reais no caso do Tesouro Direto. Sim, apenas trinta.<br />
<strong>Imposto de renda:</strong> todos os rendimentos do seu t&iacute;tulo s&atilde;o tributados, mas n&atilde;o vai te dar dor de cabe&ccedil;a, j&aacute; que s&atilde;o descontados automaticamente quando voc&ecirc; resgata o dinheiro.<br />
 <br />
Al&eacute;m desses pontos, tamb&eacute;m &eacute; importante lembrar que quem vai definir o prazo de investimento e se o t&iacute;tulo ser&aacute; pr&eacute; ou p&oacute;s fixado vai ser voc&ecirc;, dentro das suas necessidades.</p>
                </div>

                <!-- Support -->
                <div>
                    <h4>Vantagens e Desvantages</h4>
<p>Nada nessa vida &eacute; de gra&ccedil;a, mas pode ter certeza que mesmo com os pouqu&iacute;ssimos custos envolvidos, a sua rentabilidade vai ser muuuito maior que o da poupan&ccedil;a.<br />
 <br />
Quando falamos de Tesouro Direto, temos dois custos envolvidos: a taxa de cust&oacute;dia, e o imposto de renda.<br />
 <br />
<b>Vamos por partes&#8230;</b><br />
 <br />
<strong>Taxa de Cust&oacute;dia:</strong> Para que voc&ecirc; possa comprar um t&iacute;tulo do Tesouro Direto, voc&ecirc; precisa abrir conta em uma corretora, e ela poder&aacute; OU N&Atilde;O cobrar a taxa de cust&oacute;dia, que quando cobrada, gira em torno de 0,01% do seu investimento. Existem corretoras renomadas no mercado que n&atilde;o cobram custo algum! O &uacute;nico custo que voc&ecirc; vai ter vai ser o imposto de renda. Olha pra baixo pra entender:<br />
 <br />
<strong>Imposto de Renda:</strong> como j&aacute; falamos antes, o imposto de renda &eacute; recolhido automaticamente (ou seja, zero dor de cabe&ccedil;a). O grande lance desse custo &eacute; que dependendo do prazo do seu investimento, voc&ecirc; vai pagar mais ou menos imposto. Olha a tabela abaixo pra entender melhor:</p>
<table border="1" align="center" width="50%">
	<tr bgcolor="#4257b2" style="color: #fff"><td>Imposto de renda</td><td>Prazo</td></tr>
	<tr><td>22,5%</td><td>até 180 dias</td></tr>
	<tr><td>20%</td><td>181 até 360 dias</td></tr>
	<tr><td>17,5%</td><td>361 até 720 dias</td></tr>
	<tr><td>15%</td><td>721+ dias</td></tr>

</table>

                </div>

                <!-- Purchase -->
                <div>
                    <h4>Glossário</h4>
<p><strong>Selic:</strong> taxa b&aacute;sica de juros da economia brasileira&#8230; em outras palavras, voc&ecirc; n&atilde;o vai achar empr&eacute;stimo ou financiamento a juros menores que a Selic.<br />
 <br />
<strong>Renda fixa:</strong> &eacute; o tipo de investimento em que voc&ecirc; sabe o quanto voc&ecirc; ter&aacute; de retorno no momento da sua aplica&ccedil;&atilde;o.<br />
 <br />
<strong>Indexado:</strong> se um t&iacute;tulo est&aacute; indexado a algum &iacute;ndice, significa que a rentabilidade vai seguir a rentabilidade do &iacute;ndice.<br />
 <br />
<strong>Infla&ccedil;&atilde;o:</strong> imagina que voc&ecirc; tem 100 reais no cofrinho que sua av&oacute; te deu com todo o carinho. Hoje, voc&ecirc; conseguiria comprar um t&ecirc;nis por seus exatos 100 reais, mas voc&ecirc; decide esperar. Um ano se passa, e o t&ecirc;nis passa a custar 110 reais, e voc&ecirc; continua com seus 100 reais, que passaram a ser insuficientes. A infla&ccedil;&atilde;o funciona assim, &eacute; o aumento dos pre&ccedil;os que diminui o seu poder de compra se voc&ecirc; n&atilde;o estiver rendendo o seu dinheiro.<br />
 <br />
<strong>IPCA:</strong> &eacute; o principal indicador de infla&ccedil;&atilde;o no Brasil divulgado todo m&ecirc;s. Reflete o preço de grande parte dos produtos consumidos pela população<br />
 <br />
<strong>LFT:</strong> &eacute; exatamente o Tesouro Selic, mas antigamente esse t&iacute;tulo levava o nome de Letra Financeira do Tesouro (LFT), apenas. Ficou muito melhor, n&atilde;o?<br />
 <br />
<strong>NTN-B:</strong> segue a mesma l&oacute;gica que o termo acima. Antigamente, o t&iacute;tulo atrelado &agrave; infla&ccedil;&atilde;o se chamava Nota do Tesouro Nacional S&eacute;rie B, e esse nome foi mudado para Tesouro IPCA+. Ufa.<br />
 <br />
<strong>Liquidez:</strong> significa o qu&atilde;o f&aacute;cil voc&ecirc; consegue comprar ou vender alguma coisa. Se voc&ecirc; coloca alguma coisa &agrave; venda e consegue vender no mesmo instante, significa que essa coisa &eacute; l&iacute;quida. Se voc&ecirc; coloca &agrave; venda, mas s&oacute; consegue vender dias, semanas, ou meses depois, significa que &eacute; muito menos l&iacute;quida.<br />
 <br />
<strong>Resgate:</strong> quando voc&ecirc; faz um investimento, voc&ecirc; est&aacute; aplicando, e quando voc&ecirc; quer terminar o investimento e pegar o seu dinheiro de volta, voc&ecirc; faz um resgate.<br />
</p>
                </div>

            </div>

        </div>
        <!-- Zozo Tabs End-->



    </div>

</div>

        <script>
        jQuery(document).ready(function ($) {

            /* jQuery activation and setting options for second tabs*/
            $("#tabbed-nav2").zozoTabs({
                position: "top-left",
                orientation: "vertical",
                multiline: true,
                style: "pills",
                theme: "flat-turquoise",
                spaced: true,
                rounded: false,
                bordered: false,
                animation: {
                    easing: "easeInOutExpo",
                    duration: 450,
                    effects: "slideH"
                }
            });
        });
        </script>